@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.nav-item {
    padding: 0rem 0.3rem;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 500;
    color: #484848;
}

.nav-item a:hover {
    color: #12519e;
}

.nav-item .active {
    color: #12519e;
    font-weight: 600;
}

.hero {
    min-height: 50vh;
}

.hero-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/hero-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    min-height: 50vh;
}

.hero-content {
    min-height: 50vh;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero-content h1 {
    font-weight: 700;
}

.hero-content p {
    font-size: 1rem;
    max-width: 900px;
}

.hero-content button {
    background-color: #12519e;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.hero-content button:hover {
    background-color: #0F4587;
}





/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .hero,
    .hero-container,
    .hero-content {
        min-height: 90vh;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}